* {
    box-sizing: border-box;
}

body {
    margin-left: 50px;
    margin-right: 50px;
}

header {
    background-color: lightsteelblue;
    padding: 3px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.newitem {
    margin: 12px 0 0 0;
    background-color: lightblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
    font-size: 14pt;
}

.info {
    margin: 0px;
    background-color: lightblue;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    font-size: 12pt;
    background-color: lightblue;
}

.date{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form {
    padding: 15px;
}

.error-body {
    margin-left: 50px;
    margin-right: 50px;
}
.error-body{
    background-color:cornsilk;
}
.error-head {
    background-color: lightsteelblue;
    padding: 3px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.second-head {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-around;
}

.boop {
    display: flex;
    justify-content: space-around;
}

.goback {
    display: flex;
    justify-content: space-around;
    font-size: 16pt;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
}